<nav class="navbar navbar-expand-sm navbar-light">
  <div class="container">
    <a class="navbar-brand" href="index.html">Kranz</a>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
      <span class="navbar-toggler-icon"></span>
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a href="#about" class="nav-link"
            ><span data-hover="About">About</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#project" class="nav-link"
            ><span data-hover="Projects">Projects</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#resume" class="nav-link"
            ><span data-hover="Resume">Resume</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#contact" class="nav-link"
            ><span data-hover="Contact">Contact</span>
          </a>
        </li>
      </ul>

      <ul class="navbar-nav ml-lg-auto">
        <div class="ml-lg-4">
          <div
            id="color-mode"
            class="color-mode d-lg-flex justify-content-center align-items-center"
          >
            <i class="ri-moon-line" style="margin-right: 10px; font-size: 22px;"
            ></i>
            Color mode
          </div>
        </div>
      </ul>
    </div>
  </div>
</nav>
<script>
  const colorModeBtn = document.getElementById("color-mode");
  if (colorModeBtn) {
    let newIcon = colorModeBtn.children[0].classList.contains("active")
      ? "ri-sun-line"
      : "ri-moon-line";
    colorModeBtn.addEventListener("click", (event) => {
      document.getElementsByTagName("body")[0].classList.toggle("dark-mode");
      colorModeBtn.firstElementChild?.classList.toggle("ri-sun-line");
      colorModeBtn.firstElementChild?.classList.toggle("ri-moon-line");
      colorModeBtn.classList.toggle("active");
    });
  }
</script>
<style></style>
